@font-face {
    font-family: PressStart2P-Regular;
    src: url('./fonts/PressStart2P-Regular.ttf');
}

.profile {
    font-family: PressStart2P-Regular;
    font-size: 10px;
}

.flag {
    font-size: 20px;
}