@font-face {
    font-family: PressStart2P-Regular;
    src: url('./fonts/PressStart2P-Regular.ttf');
}

body {
    font-family: PressStart2P-Regular;
    font-size: 9px;
}

li {
    margin: 10px 0 0 0;
}

li a {
    color: #000000;
}

.flag {
    font-size: 15px;
}

#copy-email {
    font-size: 9px;
    font-family: PressStart2P-Regular;
}

#copy-email:hover {
    cursor: pointer;
}

.email {
    line-height: 20px;
}